* {
    font-family: 'Gotham', 'Spoqa Han Sans Neo';
    color: #666;
    font-size: 1em;
    line-height: 1.5;
}

a {
    display: inline-block;
}

h1 {
    color: rgb(26, 202, 218);
    font-size: 3em;
    font-weight: unset;
}

h2 {
    color: rgb(105, 209, 230);
    font-size: 2.0em;
    font-weight: unset;
}


article, div {
    text-align: center;
}

.logo {
    width: 100%;
    text-align: center;
    float: none;
}

.toolbar a{
    background-color: rgb(95, 204, 226);
    width: 100px;
    height: 25px;
    border-radius: 20px;
    padding: 0;
    color: white;
    margin: 10px;
}

.toolbar h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.0em;
}

.editor {
    width: 600px;
    height: 300px;
    margin-top: 50px;
    margin-left: 30%;
    margin-bottom: 100px;
    box-shadow: 2px 2px 2px -1px #666;
    border: 1px solid #cde;
    overflow: hidden;
    transition: .5s height;
}

.table_block {
    display: inline-block;
}

aside {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 10;
}

header {
    width: 100%;
    height: 100px;
}

nav {
    width: 100%;
    height: 100px;
    margin-bottom: 0%;
}

.navblue {
    box-sizing: border-box;
    width: 150px;
    height: 40px;
    display: inline-block;
    transition-property: width;
    transition-duration: 1s;
}

nav .navblue:hover {
    text-decoration:none;
    background-color: rgb(95, 204, 226);
    color: #fff;
    width: 200px;
}

nav .navblue:active {
    position:relative;
    top: 2px;
}

hr {
    border: 1px solid rgb(26, 202, 218);
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 25px 20px 2px 20px;
    margin: 0 20px;
}

ul li {
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    list-style-type: none;
    color: aqua;
}

.main_info table {
    width: 40%;
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
    border-collapse: collapse;
    margin: 0px auto;
}

.main_info td {
    padding: 15px;
}

.schedule table, .schedule th, .schedule td {
    width : 100px;
    height: 40px;
    font-size: 1.1em;
    border: 1px solid #444;
    border-collapse: collapse;
    text-align: center;
    margin: 0px auto;
}

.schedule table {
    width: 70%;
    margin-bottom: 150px;
}

.schedule th, .schedule td {
    padding: 15px;
}

.schedule td {
    color: #fff;
}

.schedule th {
    text-align: center;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

.logo a:focus, .logo a:hover {
    text-decoration: none;
}

#image {
    width: 20%;
    height: 30%;
}

#image_interest {
    width: 200px;
    height: 40%;
    margin-right: 50px;
    margin-left: 50px;
}

section {
    margin-bottom: 150px;
}

@font-face {
    font-family: 'Gotham';
    src: url('../font/Gotham-Bold.woff2') format('woff2'),
        url('../font/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../font/Gotham-Black.woff2') format('woff2'),
        url('../font/Gotham-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: url('../font/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
        url('../font/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: url('../font/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
        url('../font/SpoqaHanSansNeo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


.main{
    width: 100%;
    display: block;
  }
  .content-wrap{
    width: 100%;
    margin:0 auto;
    border-radius: 20px;
    overflow: hidden;
    background: #bff3f6;
  }
  .content-left{
    background: #0b0809;
    color:#bff3f6;
    float: left;
    width: 100%;
    padding: 30px;
  }
  .main-wrap{
    text-align: center;
    padding: 20px 0 0 0;
  }
  .main-day{
    font-size: 30px;
    font-weight: bold;
  }
  .main-date{
    font-size: 120px;
    font-weight: bold;
    margin: 20px 0;
  }
  .todo-wrap{
    padding: 0 0 0 40px;
  }
  .todo-title{
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    margin: 0 0 10px 0;
  }
  .input-box{
    width: 50%;
    margin-right: 20px;
    height: auto; 
    background: #0b0809;
    color: #bff3f6;
    line-height : normal;
    padding: .8em .5em 0 0; 
    font-family: inherit;
    border: 0; 
    border-bottom: 1px dashed #bff3f6; 
    border-radius: 0; 
    outline-style: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
  }
  .input-data{
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    margin: 10px 0 10px 0;
    background: #bff3f6;
    border: none;
    color: #0b0809;
    border-radius: 10px;
  }
  .input-data:hover{
    background: #ffffff;
    color: #0b0809;
  }
  .input-list > div{
    font-size: 10px;
    width: 60%;
    float: left;
    color: #bff3f6;
  }
  .input-list > .checked{
    color: #FFFFFF;
    text-decoration:line-through
  }
  .del-data{
    display: block;
    color: #bff3f6;
    float: left;
    width: 10%;
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    background: #0b0809;
    border: none;
    border-radius: 10px;
  }
  .content-right{
    float: left;
    width: 90%;
    padding: 10px;
  }
  .sun{
    color:#ef3333;
  }
  .sat{
    color:#2107e0;
  }
  .content-right table tr td{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  .active{
    background: #0b0809;
    border-radius: 50%;
    color: #ffffff;
  }
  
  @media(min-width: 850px){
    .main{
      display: flex;
      align-items: center;
      justify-content:  center;
      width: 100vw;
      height: 100vh;
    }
    .content-wrap{
      width: 800px;
      height: 600px;
      margin:0 auto;
      border-radius: 20px;
      overflow: hidden;
      background: #bff3f6;
    }
    .content-left{
      background: #0b0809;
      color:#bff3f6;
      float: left;
      width: 360px;
      height: 600px;
      padding: 90px 20px 20px 0;
    }
    .main-wrap{
      text-align: center;
      margin: 20px 0 0 0;
    }
    .main-day{
      font-size: 30px;
      font-weight: bold;
    }
    .main-date{
      font-size: 120px;
      font-weight: bold;
      margin: 20px 0;
    }
    .todo-wrap{
      padding: 0 0 0 40px;
    }
    .todo-title{
      font-size: 20px;
      font-weight: 100;
      margin: 0 0 10px 0;
    }
    .input-box{
      width: 70%;
      height: auto; 
      background: #0b0809;
      color: #bff3f6;
      line-height : normal;
      padding: .8em .5em 0 0; 
      font-family: inherit;
      border: 0; 
      border-bottom: 1px dashed #bff3f6; 
      border-radius: 0; 
      outline-style: none; 
      -webkit-appearance: none; 
      -moz-appearance: none; 
      appearance: none;
    }
    .input-data{
      cursor: pointer;
      font-size: 10px;
      padding: 10px;
      margin: 10px 0 30px 0;
      background: #bff3f6;
      border: none;
      color: #0b0809;
      border-radius: 10px;
    }
    .input-data:hover{
      background: #ffffff;
      color: #0b0809;
    }
    .input-list > div{
      font-size: 15px;
      width: 60%;
      float: left;
      color: #bff3f6;
    }
    .del-data{
      display: block;
      color: #bff3f6;
      float: left;
      width: 10%;
      cursor: pointer;
      font-size: 10px;
      padding: 10px;
      background: #0b0809;
      border: none;
      border-radius: 10px;
    }
    .content-right{
      float: left;
      width: 360px;
      height: 600px;
      padding: 100px 20px 20px 20px;
    }
    .sun{
      color:#ef3333;
    }
    .sat{
      color:#2107e0;
    }
    .content-right table tr td{
      width: 50px;
      height: 50px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
    .active{
      background: #0b0809;
      border-radius: 50%;
      color: #ffffff;
    }
  }

.center {
    text-align: center;
}